@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(257, 40%, 49%);
  background-image: url("images/bg-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -50px;
}

/* *********************************************** */
/* HEADER */
/* *********************************************** */

.header {
  display: flex;
  align-items: center;
}

.logo {
  height: 3.2rem;
  position: relative;
  left: 14rem;
  top: 1.5rem;
}

/* *********************************************** */
/* HERO */
/* *********************************************** */

.hero {
  display: grid;

  margin: 0 auto;
  padding: 10rem;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
}

.hero-img {
  margin-left: 4rem;
}

.hero-header,
.hero-desc {
  color: white;
}

.hero-text {
  margin-right: 4rem;
}

.hero-header {
  font-family: "Poppins", sans-serif;
  margin-bottom: 1rem;
  width: 26rem;
}

.hero-desc {
  font-family: "Open Sans", sans-serif;
  line-height: 1.5rem;
  width: 29rem;
  margin-bottom: 1rem;
}

.cta-btn {
  color: hsl(257, 40%, 49%);
  cursor: pointer;
  font-size: 0.9rem;
  padding: 12px 48px;
  border-radius: 100px;
  border: none;

  box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.212);
  transition: all 0.4s;
}

.cta-btn:hover {
  box-shadow: 0 6px 8px 2px rgba(0, 0, 0, 0.212);
}

.cta-btn:active {
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.212);
}

/* *********************************************** */
/* SOCIAL ICONS */
/* *********************************************** */

.social-links {
  display: flex;
  gap: 0.5rem;
  position: absolute;
  left: 105rem;
}

.social-icon {
  color: white;
  border: 1px solid white;
  border-radius: 50%;
  padding: 6px;
  height: 30px;
  width: 30px;
}

.fill-icon {
  fill: white;
}

.social-icon:hover {
  border: 1px solid black;
}

/* *********************************************** */
/* FRONT-END MENTOR STUFF */
/* *********************************************** */

.attribution {
  font-size: 11px;
  text-align: center;

  /* Changed the color so the text is readable on the purple background */
  color: aliceblue;
}

.attribution a {
  /* Changed the color so the text is readable on the purple background */
  color: wheat;
}
